body {
    margin: 0;
    padding: 0;
    height: 100vh;
    animation: bodycolor 10s infinite;
}

    @keyframes bodycolor {
        0% {background-color: #50248ab4;}
        50% {background-color: #3018b6d5;}
        100% {background-color: #50248ab4;}
    }

.header-img {
    background-image: linear-gradient(#00000080,
    #00000080), url(/images/header.png);
    height: 230px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.face-img {
    opacity: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    z-index: 1;
    width: 8%;
    border: #1cb442 solid 5px;
}

    .face-img:hover {
        transition: 0,8s;
        cursor: pointer;
        opacity: 100%; 
    }

main {
    color: red;
    text-align: center;
}

    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }